* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.game-bg-board {
  line-height: 0;
  box-shadow: 0px 0px 20px white;
  margin-bottom: 50px;
}

.App {
  position: relative;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.cell {
  display: block;
  float: left;
  border: 1px solid black;
  width: 35px;
  height: 35px;
  margin-left: -1px;
  margin-bottom: -1px;
  padding: 10px;
}

.on {
  background-color: aquamarine;
}

@media (max-width: 1024px) {
  .App {
    height: 100vh;
  }
  .game-bg-board {
    width: 800px;
  }
}
